<!DOCTYPE HTML>
<html xmlns:wb="http://open.weibo.com/wb">
<head>
    <script src="//tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=514251102" type="text/javascript" charset="utf-8"></script>
    {% include header.html %}
</head>
<body>
    WB2.anyWhere(function(W){
    W.widget.connectButton({
        id: "wb_connect_btn",	
        type:"3,2",
        callback : {
            login:function(o){	//登录后的回调函数
            },	
            logout:function(){	//退出后的回调函数
            }
        }
    });
});
  
     
       
 
         
       

        

  
    {{ content }}
    
    {% include footer.html %}
</body>
</html>
